body, html {
  height: 100%;
}

body {
  margin: 0;
  color: #aaaaaa;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
}

p {
  margin: 0 0 10px;
}

a {
  text-decoration: none;
}

header {
  position: relative;
  padding: 35px 0 25px 55px;
  height: 80px;
  background: #fff;
  box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
}
header .navbar-brand img {
  width: 180px;
}
header .justshare {
  width: 150px;
  margin: 40px 15px;
}
header .logo {
  float: left;
  height: 65px;
  width: 180px;
  background: url("/images/color-logo.png") no-repeat center;
  background-size: 100%;
}

.parallax-window {
  min-height: 500px;
  background: transparent;
}

.posters {
  box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
}

.contact {
  display: block;
  position: relative;
  color: #9E9E9E;
  margin: 0 auto;
  max-width: 780px;
  padding: 50px 0 30px;
  text-align: left;
  min-height: 450px;
}
.contact .text {
  padding-top: 50px;
}
.contact h1 {
  font-weight: bold;
  font-size: 50px;
}
.contact p {
  color: #6b6b6b;
  font-size: 1.2em;
}
.contact a {
  color: #16a6b6;
}
.contact .contact-info {
  width: 380px;
  float: left;
}

footer {
  display: block;
  position: relative;
  text-align: center;
}

.pg-404 {
  font: 16px "Imprima", Helvetica, Arial, sans-serif;
}
.pg-404 h1 {
  font-weight: bold;
  font-size: 4em;
}
.pg-404 a {
  color: #16a6b6;
  font-size: 2.5em;
  text-decoration: none;
}

@media only screen and (max-width: 799px) {
  .about {
    padding: 0;
  }
  .about .about-content {
    padding-left: 0;
  }

  .contact {
    padding: 20px;
  }
  .contact h1 {
    font-size: 30px;
  }
  .contact .contact-info {
    width: auto;
  }
}
