body, html {
  height: 100%;
}

body {
  margin: 0;
  color: #aaaaaa;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
}

:focus {
  outline: none
}

p {
  margin: 0 0 10px;
}

a {
  text-decoration: none;
}

header {
  position: relative;
  padding: 35px 0 25px 55px;
  height: 80px;
  background: #fff;
  z-index: 3;
  box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
}
header .navbar-brand img {
  width: 180px;
}
header .justshare {
  width: 150px;
  margin: 40px 12px;
}
header .logo {
  float: left;
  height: 65px;
  width: 180px;
  background: url("/images/color-logo.png") no-repeat center;
  background-size: 100%;
}

.parallax-window {
  min-height: 500px;
  background: transparent;
}

.posters {
  box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
  z-index: 2;
}

.contact {
  display: block;
  position: relative;
  color: #9E9E9E;
  margin: 0 auto;
  max-width: 780px;
  padding: 50px 0 30px;
  text-align: left;
  min-height: 450px;
}
.contact .text {
  padding-top: 50px;
}
.contact h1 {
  font-weight: bold;
  font-size: 50px;
}
.contact p {
  color: #6b6b6b;
  font-size: 1.2em;
}
.contact a {
  color: #16a6b6;
}
.contact .contact-info {
  width: 380px;
  float: left;
}

footer {
  display: block;
  position: relative;
  text-align: center;
}

.slide{
  background-attachment: fixed;
  width:100%;
  height:auto;
  position: relative;
  padding:200px 0;
  background-size: 100% auto;
}

.products {
  box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
}

.products img {
  width: 100%;
}

#slide1{
  background-image:url('/images/2000px1.jpg');
}
#slide2{
  background-image:url('/images/2000px2.jpg');
}
#slide3{
  background-image:url('/images/2000px3.jpg');
}
#slide4{
  background-image:url('/images/2000px4.jpg');
}

.wrap {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}

.button {
  color: white;
  background: #16a6b6;
  height: 58px;
  border: 2px solid #16a6b6;
  font: 500 22px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 21px;
  -moz-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
  -ms-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
  -o-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
  -webkit-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
  transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.input-text {
  width: 100%;
  float: left;
  border: 2px solid #d8d8d8;
  background: white;
  height: 58px;
  padding: 10px 21px;
  font: 500 17px/34px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -moz-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
  -ms-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
  -o-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
  -webkit-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
  transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.input-text:focus {
  border-color: #aeaeae
}

.newsletter {
  background: rgba(250,250,250,0.5);;
  padding: 103px 0 109px;
  text-align: center;
  margin-top: 5px;
}

.newsletter p {
  font-size: 16px;
  line-height: 28px;
  max-width: 556px;
  margin: 0 auto;
  clear: both;
}

.newsletter-title {
    /* font: bold 48px/60px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 38px;
}

.mail-form {
  position: relative;
  display: inline-block;
  padding-right: 169px;
  max-width: 556px;
  min-width: 556px;
  height: 58px;
  margin-bottom: 32px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mail-form .button {
  position: absolute;
  right: 0;
  top: 0;
  padding-left: 0;
  padding-right: 0;
  width: 149px;
}

.pg-404 {
  font: 16px "Imprima", Helvetica, Arial, sans-serif;
}
.pg-404 h1 {
  font-weight: bold;
  font-size: 4em;
}
.pg-404 a {
  color: #16a6b6;
  font-size: 2.5em;
  text-decoration: none;
}

@media only screen and (max-width: 799px) {
  .about {
    padding: 0;
  }
  .about .about-content {
    padding-left: 0;
  }

  .contact {
    padding: 20px;
  }
  .contact h1 {
    font-size: 30px;
  }
  .contact .contact-info {
    width: auto;
  }
}

/* Tablet */
@media screen and (max-width: 1024px) {
  .slide{
    background-attachment: fixed;
    width:100%;
    position: relative;
    padding:150px 0;
  }
}


/* Mobile */
@media screen and (max-width: 480px) {
  .slide{
    background-attachment: fixed;
    width:100%;
    position: relative;
    padding:150px 0;
  }
}

