doctype
html
  head
    meta(charset='utf-8')
    link(rel="shortcut icon" type="image/x-icon" href="images/favicon.ico")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title viajc
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/main1.css')
    link(rel='stylesheet', href='/css/fontello.css')
    script(src='/javascripts/lib/jquery-1.11.0.min.js')
    script(src='/javascripts/main.js')
    //[if lt IE 9]>
      <script src="javascripts/lib/html5shiv.min.js"></script>
      <![endif]
  body(onload="slidingImages()")
    header
      nav
        .logo
        ul(id="nav-ul")
          li
            a(href="#posters") Home
          li
            a(href="#about") About
          li
            a(href="#news") News
          li
            a(href="#products") Products
          li
            a(href="#contact") Contact
    section.posters(id="posters")
      // figure.item1
      // figure
      img(src="/images/poster/poster1.jpg" name="slider")
      // figure.item2
      // figure.item3

    section.about(id="about")
      .about-l
        img(src="/images/test.jpg")
      .about-l
        p JieXi Import&Export is a newly started trading company based at Fenshui town, Tonglu County. As the county enjoys the fame of “the most beautiful county in China”, the town is renowned “the hometown of pen in China”.
        p This industry-oriented town, with its area of 220 square kilometers, boasts over 700 pen factories and companies. The annual output of the pen in recently years is over 7 billion.
        p A brief knowledge of where JC stands will help our customers to gain a better understanding of our mission------to well link the buyers and suppliers and provide them with the best possible service.
        p Besides, JC itself is more than a middle man. We own a pen factory named ShuangXing Pen with over 16 years of manufacturing and sales experience. In 2010, the factory moved to our own factory and warehouse covering an area of 2308.77 square meters. We warmly welcome our customer to come and visit our factory.
        p We are confident to say that we able to offer a variety of pen styles to suit the needs of all of our customers, and with quality guaranteed.
        p What we are stand for is quite simple, we made, we share.
        p Via JC is via Joy and Credit.
        p Viajc

    section.products(id="products")
    section.news(id="news")

    footer.contact(id="contact")
      h1 We would be very happy if you could reach us, simply call, email and visit.
      .text
        .contact-info
          p
            b Tonglu JieXi Import&Export Co.,Ltd.
          p
            i.icon-phone 
            | 86 571 58505616
          p
            i.icon-fax 
            | 86 571 64331685
          p
            i.icon-mail
            a(href="mailto:info@viajc.com") info@viajc.com
        .contact-info
          p
            i.icon-location
            | No. 567 Xingye Road, Fenshui Town, Tonglu, Hangzhou, Zhejiang, China. 311519
      
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-49818540-1', 'viajc.com');
      ga('send', 'pageview');
