doctype
html
  head
    meta(charset='utf-8')
    link(rel="shortcut icon" type="image/x-icon" href="images/favicon.ico")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title viajc
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='stylesheets/main.css')
    //[if lte IE 9]>
      <script src="javascripts/lib/html5shiv.min.js"></script>
      <![endif]
  body
    header
      a.logo(href="http://www.viajc.com")
      nav
        a(href="/") Home
        a(href="#") Products
    section
      h1 Who are we?
      p JieXi Import&Export, shorted for JC, was found by a bunch of young talents in the pursuit of building their own fortune.
    section
      h1 Why we found the company?
      p The birth place of JC is “the hometown of pen in China”, boasting over 500 pen factories and companies, with annual output of more than 7 billion pieces of pens. On the one hand, the fierce domestic market competition urges these pen factories and companies to go out to sell their products; on the other hand, global sourcing is gaining its popularity. That’s how JC sees the opportunity. 
    section
      h1 Where our confidence comes from?
      p Born in this town, JC knows the pen factories and companies and they become JC’s asset. The pen this town produces almost covers anything customers can image. Beside, JC had its own factory------ShuangXing Pen, with over 16 years of manufacturing and sales experience. Its R&D can meet the need of customers who want to open a mold themselves. 
    section
      h1 How are we going to stand out? 
      p We are young and dare to dream. Our mission is to link the buyers and suppliers and provide them with feel-at-home service.

    footer
      h1 Reach JC via
      p Tele: 86 571 58505616
      p Fax: 86 571 64331685
      p Email: 
        a(href='mailto:info@viajc.com') info@viajc.com
      p Add: No. 567 Xingye Road, Fenshui Town, Tonglu, Hangzhou, Zhejiang, China. 311519
      
    script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49818540-1', 'viajc.com');
      ga('send', 'pageview');
