$header: #0099cc;
$header-darken: #237dac;
$bgc: rgb(230, 180, 80);
$bgc-light-1: lighten($bgc, 15%);
$bgc-dark-1: darken($bgc, 10%);
$link-color: #16a6b6;

body, html {
  height: 100%;
}
body {
  margin: 0;
  color: #aaaaaa;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
}
p{
  margin: 0 0 10px;
}

a {
  text-decoration: none;
}

header {
  position: absolute;
  top: 0;
  height: 70px;
  width: 100%;
  background: #ff6633;
  nav {
    height: 70px;
    .logo {
      float: left;
      height: 65px;
      width: 180px;
      background: url('/images/trlogo-s.png') no-repeat center;
    }
    margin: 0 auto;
    width: 80%;
    ul {
      float: right;
      list-style: none;
      margin-top: 30px;
      li {
        float: left;
        margin: 0 15px;
      }
    }
  }
  a {
    color: #FFF;
    font-size: 1.3em;
  }
}

section {
}

.about {
  margin: 20px 0;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  width: 80%;
  .about-l {
    float: left;
    width: 47%;
    img {
      width: 360px;
      margin: 0 30px;
    }
  }
}

.posters {
  width: 100%;
  img {
    width: 100%;
    background-size: cover;
  }
  .item1 {
    display: block;
    background: url("/images/poster/poster1.jpg") no-repeat top center;
    background-size: cover;
  }
  .item2 {
    background: url("/images/poster/poster2.jpg") no-repeat top center;
    background-size: cover;
  }
  .item3 {
    background: url("/images/poster/poster3.jpg") no-repeat top center;
    background-size: cover;
  }
  figure {
    margin: 0;
    display: none;
    height: 630px;
  }
}

.image {
}

footer {
  color: #9E9E9E;
  text-align: center;
  margin: 50px 0 0 0;
}

.about {
}

.contact {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 780px;
  padding: 50px 0;
  text-align: left;
  .text {
    padding-top: 70px;
  }
  h1 {
    font-weight: bold;
    font-size: 50px;
  }
  p {
    color: #6b6b6b;
    font-size: 1.2em;
  }
  a {
    color: $link-color;
  }
  .contact-info {
    width: 380px;
    float: left;
  }
}

.news {
}

.pg-404 {
  font: 16px "Imprima", Helvetica, Arial, sans-serif;
  h1 {
    font-weight: bold;
    font-size: 4em;
  }
  a {
    color: $link-color;
    font-size: 2.5em;
    text-decoration:none;
  }
}

@media only screen 
and (max-width : 799px) {
  header{
  }
  .about {
    padding: 0;
    .about-content {
        padding-left: 0;
    }
  }
  .contact {
    padding: 20px;
    h1 {
        font-size: 30px;
    }
    .contact-info {
      width: auto;
    }
  }
}

