$header: #0099cc;
$header-darken: #237dac;
$bgc: rgb(230, 180, 80);
$bgc-light-1: lighten($bgc, 15%);
$bgc-dark-1: darken($bgc, 10%);

body {
    color: #aaaaaa;
}

header {
    height: 130px;
    .container {
      position: relative;
      top: 28px;
    }
    .navbar-brand {
        img {
            width: 180px;
            margin: -10px 0;
        }
    }
    .navbar-collapse {
        position: absolute;
        right: 0;
        top: 20px;
    }
    .header-p {
        background: url('/images/js.jpg') no-repeat;
        height: 50px;
        margin: 20px 200px;
    }
    a.navbar-brand {
      color: #aaaaaa;
    }
    a.navbar-brand:hover {
      opacity: 0.8;
    }
    a {
      color: #181818;
      font-size: 1.3em;
    }
    .navbar-nav > li > a:hover {
      opacity: 1;
      color: #16a6b6;
      background-color: transparent;
    }
}
.slider {
  padding: 30px;
}

.image {
  img { 
    margin: auto;
    width: 80%;
  }
}

.site-footer {
    color: #9E9E9E;
    text-align: center;
    margin: 50px 0 0 0;
}

.about {
    background-color: #FFF;
    padding: 20px 0;
    .about-content {
        padding-left: 100px;
    }
    .col-sm-6 {
        background-color: whitesmoke;
    }
    img {
        width: 100%;
        opacity: 0.85;
    }
    p {
        color: #333332;
    }
}

.pg-404 {
  color: $header-darken;
  font: 16px "Imprima", Helvetica, Arial, sans-serif;
  h1 {
    font-size: 4em;
  }
  a {
    font-size: 3em;
  }
}

.contact {
    p {
        color: #6b6b6b;
        font-size: 1.3em;
    }
}

@media (max-width: 768px) {
    header{
        height: 115px;
        .navbar-toggle .icon-bar {
            width: 25px;
            height: 4px;
            background-color: #000;
        }
        .navbar-header {
            position: absolute;
            top: 20px;
            right: 0;
        }
        .navbar-collapse {
            z-index: 99;
            width: 100%;
            margin-top: 50px;
            background-color: whitesmoke;
        }
        .container-fluid>.navbar-collapse {
            margin-right: 0;
        }
    }
    .slider {
        z-index: -1;
      padding: 30px;
    }
    .about {
        padding: 0;
        .about-content {
            padding-left: 0;
        }
    }
}


