$header: #0099cc;
$header-darken: #237dac;
$bgc: rgb(230, 180, 80);
$bgc-light-1: lighten($bgc, 15%);
$bgc-dark-1: darken($bgc, 10%);
$link-color: #16a6b6;

body, html {
  height: 100%;
}
body {
    color: #aaaaaa;
}

header {
    height: 130px;
    .container {
      position: relative;
      top: 28px;
    }
    .navbar-brand {
        img {
            width: 180px;
            margin: -10px 0;
        }
    }
    .navbar-collapse {
        position: absolute;
        right: 0;
        top: 20px;
    }
    .header-p {
        img {
            width: 150px;
            margin: 42px 0;
        }
    }
    a.navbar-brand {
      color: #aaaaaa;
    }
    a.navbar-brand:hover {
      opacity: 0.8;
    }
    a {
      color: #181818;
      font-size: 1.3em;
    }
  .navbar-nav > li > a:hover {
    opacity: 1;
    color: $link-color;
    background-color: transparent;
  }
}
.slider {
  padding: 30px;
}

.image {
  img { 
    margin: auto;
    width: 80%;
  }
}

footer {
  color: #9E9E9E;
  text-align: center;
  margin: 50px 0 0 0;
}

.about {
  background-color: #FFF;
  padding: 20px 0;
  .about-content {
      padding-left: 100px;
  }
  .col-sm-6 {
      background-color: whitesmoke;
  }
  img {
      width: 100%;
      opacity: 0.85;
  }
  p {
      color: #333332;
  }
}

.pg-404 {
  font: 16px "Imprima", Helvetica, Arial, sans-serif;
  h1 {
    font-weight: bold;
    font-size: 4em;
  }
  a {
    color: $link-color;
    font-size: 2.5em;
    text-decoration:none;
  }
}

.contact {
  max-width: 780px;
  padding: 50px 0;
  .text {
    padding-top: 70px;
  }
  h1 {
    font-weight: bold;
    font-size: 50px;
  }
  p {
    color: #6b6b6b;
    font-size: 1.2em;
  }
  a {
    color: $link-color;
  }
  .contact-info {
    width: 380px;
    float: left;
  }
}

.news {
  max-width: 1050px;
  padding: 25px 0;
  height: 60%;
  .posts {
    li {
      clear: both;
      font-size: 1.4em;
      list-style-type: none;
      p {
        float: right;
      }
    }
    a {
      text-decoration: none;
    }
  }
}

.slick-prev {
  left: 100px;
}
.slick-next {
  right: 100px;
}
.slick-prev:before {
  color: #aaaaaa;
}
.slick-next:before {
  color: #aaaaaa;
}

@media only screen 
and (max-width : 990px) {
  header{
    .header-p {
      display: none;
    }
  }
}
@media only screen 
and (max-width : 799px) {
  header{
    height: 115px;
    .navbar-toggle .icon-bar {
      width: 25px;
      height: 4px;
      background-color: #000;
    }
    .navbar-header {
      position: absolute;
      top: 20px;
      right: 0;
    }
    .navbar-collapse {
      z-index: 10000;
      width: 100%;
      margin-top: 65px;
      background-color: whitesmoke;
      opacity: 0.85;
    }
    .container-fluid>.navbar-collapse {
      margin-right: 0;
    }
  }
  .slider {
    z-index: -1;
    padding: 30px;
  }
  .about {
    padding: 0;
    .about-content {
        padding-left: 0;
    }
  }
  .contact {
    padding: 20px;
    h1 {
        font-size: 30px;
    }
    .contact-info {
      width: auto;
    }
  }
  .slick-prev, .slick-next {
    display: none !important;
  }
}

