$link-color: #16a6b6;

.products-nav {
  p {
    display: inline;
  }
  a {
    color: $link-color;
    text-decoration:none;
  }
  margin: 10px 30px;
}

.sidebar {
    width: 165px;
    .nav > li > a {
        color: #aaaaaa;
    }
    .nav > li > a:hover {
        color: #7A7A7A;
    }
}

.products {
    margin-top: 20px;
}
.items {
    width: 280px;
    float: left;
    margin: 10px;
    img {
        width: auto;
        max-width: 280px;
    }
    img:hover {
        opacity: 0.8;
    }
}

.nav>li>a:hover, .nav>li>a:focus {
    background-color: #FFF;
}

.sticky {  
    position: fixed;  
    top: 0;  
    border-top: 0;  
}

.item {
    margin-left: 75px;
  img {
    margin: 0 auto;
    height: 500px;
    width: 500px;
  }
  p {
      color: #181818;
      font-weight: bold;
  }
  .p1 {
      font-size: 1.4em;
  }
  .detail-info {
    i.icon-circle-empty {
      font-size: 0.8em;
    }
      li {
        list-style-type: none;
        font-size: 1.5em;
      }
  }
}
.to-top {
  font-size: 3em;
  position: fixed;
  cursor: pointer;
  right: 30px;
  bottom: 30px;
}
