.sidebar {
    width: 165px;
    .nav > li > a {
        color: #aaaaaa;
    }
    .nav > li > a:hover {
        color: #eee;
    }
}

.products {
    margin-top: 20px;
}
.items {
    float: left;
    margin: 10px;
    img {
        width: 280px;
    }
    img:hover {
        opacity: 0.8;
    }
}

.nav>li>a:hover, .nav>li>a:focus {
    background-color: #FFF;
}
