.sidebar {
    width: 150px;
}

.products {
    margin-top: 50px;
}
.items {
    float: left;
    margin: 10px;
    img {
        width: 280px;
    }
}

.nav>li>a:hover, .nav>li>a:focus {
    background-color: #f1f4f9;
}
