body {
  color: #FFF;
}

header {
  background: #0099cc;
  height: 170px;
}
header .container {
  position: relative;
  top: 40px;
}
header .navbar {
  position: absolute;
  bottom: 0;
  right: 0;
}
header .navbar-brand {
  height: 100px;
  width: 250px;
  background: url("../images/trlogo.png") no-repeat;
  background-size: 100%;
}
header p.header-p {
  font: 16px "Imprima", Helvetica, Arial, sans-serif;
  position: absolute;
  bottom: 0;
  left: 270px;
  opacity: 0.6;
}
header a.navbar-brand {
  color: #FFF;
  opacity: 0.9;
}
header a.navbar-brand:hover {
  opacity: 1;
}
header a {
  color: #FFF;
  font-size: 1.5em;
}
header .navbar-nav > li > a:hover {
  opacity: 1;
  color: #056495;
  background-color: transparent;
}

.slider {
  margin-top: 60px;
}

.image img {
  margin: auto;
  width: 80%;
}

.site-footer {
  color: #9E9E9E;
  text-align: center;
  margin: 50px 0 0 0;
}

@media (max-width: 768px) {
  header {
    height: 115px;
  }
  header .container {
    top: 0;
  }
  header .navbar {
    position: relative;
  }
  header .navbar-toggle {
    border: 1px solid #FFF;
  }
  header .navbar-toggle .icon-bar {
    background-color: #FFF;
  }
  header p.header-p {
    top: 67px;
  }
  header .navbar-nav {
    background-color: #0099cc;
  }
}
.about {
  padding-top: 40px;
}
.about h2 {
  background: #237dac;
  width: 150px;
  text-align: center;
}
.about img {
  width: 100%;
  opacity: 0.85;
}
.about p {
  color: #4C4C4C;
}
