@font-face {
  font-family: 'fontello';
  src: url("/css/fonts/fontello.eot?37571334");
  src: url("/css/fonts/fontello.eot?37571334#iefix") format("embedded-opentype"), url("/css/fonts/fontello.woff?37571334") format("woff"), url("/css/fonts/fontello.ttf?37571334") format("truetype"), url("/css/fonts/fontello.svg?37571334#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
body, html {
  height: 100%;
}

body {
  color: #aaaaaa;
}

header {
  height: 130px;
}
header .container {
  position: relative;
  top: 28px;
}
header .navbar-brand img {
  width: 180px;
  margin: -10px 0;
}
header .navbar-collapse {
  position: absolute;
  right: 0;
  top: 20px;
}
header .header-p img {
  width: 150px;
  margin: 42px 0;
}
header a.navbar-brand {
  color: #aaaaaa;
}
header a.navbar-brand:hover {
  opacity: 0.8;
}
header a {
  color: #181818;
  font-size: 1.3em;
}
header .navbar-nav > li > a:hover {
  opacity: 1;
  color: #16a6b6;
  background-color: transparent;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 90%;
  padding: 0;
  margin: 0 auto;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

.transparent-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  left: 0;
  display: block;
  background: #fff;
  /* Fix for IE6-9 */
  opacity: 0;
  filter: alpha(opacity=1);
  text-indent: -9999px;
  overflow: hidden;
}

.transparent-btns_nav.next {
  left: auto;
  right: 0;
}

.transparent-btns_nav:focus {
  outline: none;
}

.transparent-btns_tabs {
  margin-top: 10px;
  text-align: center;
}

.transparent-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 10px;
}

.transparent-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0, 0, 0, 0.2);
  display: inline-block;
  _display: block;
  *display: block;
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
  width: 10px;
  height: 10px;
}

.transparent-btns_here a {
  background: #222;
  background: rgba(0, 0, 0, 0.8);
}

.image img {
  margin: auto;
  width: 80%;
}

footer {
  color: #9E9E9E;
  text-align: center;
  margin: 50px 0 0 0;
}

.about {
  background-color: #FFF;
  padding: 20px 0 0 0;
}
.about .about-content {
  position: relative;
}
.about .col-sm-6 {
  background-color: whitesmoke;
}
.about .image-bg {
  background: rgba(0, 0, 0, 0.9);
}
.about img {
  width: 100%;
  opacity: 0.7;
}
.about .contents {
  position: absolute;
  top: 0;
  left: 0;
  color: #FFF;
  padding: 8% 15% 0 15%;
}
.about p {
  color: #FFF;
  font-size: 1.5em;
  opacity: 0.85;
}
.about footer {
  position: absolute;
  bottom: 0;
  left: 35%;
}
.about footer p {
  font-size: 14px;
  opacity: 1;
}

.pg-404 {
  font: 16px "Imprima", Helvetica, Arial, sans-serif;
}
.pg-404 h1 {
  font-weight: bold;
  font-size: 4em;
}
.pg-404 a {
  color: #16a6b6;
  font-size: 2.5em;
  text-decoration: none;
}

.contact {
  max-width: 780px;
  padding: 50px 0;
}
.contact .text {
  padding-top: 70px;
}
.contact h1 {
  font-weight: bold;
  font-size: 50px;
}
.contact p {
  color: #6b6b6b;
  font-size: 1.2em;
}
.contact a {
  color: #16a6b6;
}
.contact .contact-info {
  width: 380px;
  float: left;
}

.news {
  max-width: 1050px;
  padding: 25px 0;
  height: 60%;
}
.news .posts li {
  clear: both;
  font-size: 1.4em;
  list-style-type: none;
}
.news .posts li p {
  float: right;
}
.news .posts a {
  text-decoration: none;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}

@media only screen and (max-width: 1200px) {
  .about .contents {
    padding: 15px 12% 0 12%;
  }
  .about p {
    font-size: 1.3em;
  }
}
@media only screen and (max-width: 991px) {
  header .header-p {
    display: none;
  }
}
@media only screen and (max-width: 926px) {
  .about p {
    margin: 0 0 5px;
  }
}
@media only screen and (max-width: 894px) {
  .about h2 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 25px;
  }
  .about .contents {
    padding: 10px 8% 0 8%;
  }
  .about p {
    font-size: 1.2em;
    margin: 0 0 3px;
  }
}
@media only screen and (max-width: 767px) {
  header {
    height: 115px;
  }
  header .navbar-toggle .icon-bar {
    width: 25px;
    height: 4px;
    background-color: #69606b;
  }
  header .navbar-header {
    position: absolute;
    top: 20px;
    right: 0;
  }
  header .navbar-collapse {
    z-index: 10000;
    width: 100%;
    margin-top: 65px;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 0.85;
  }
  header .container-fluid > .navbar-collapse {
    margin-right: 0;
  }

  .about .contents {
    position: static;
    padding: 10% 15% 50px 15%;
  }
  .about p {
    font-size: 1.2em;
  }
  .about footer {
    left: 30%;
  }

  .contact {
    padding: 20px;
  }
  .contact h1 {
    font-size: 30px;
  }
  .contact .contact-info {
    width: auto;
  }

  .slick-prev, .slick-next {
    display: none !important;
  }
}
.slick-dots li button:before {
  font-size: 13px !important;
}

@media only screen and (max-width: 480px) {
  .rslides {
    width: 100%;
  }

  .about {
    padding: 0;
  }
  .about .about-content {
    padding-left: 0;
  }
  .about .contents {
    position: static;
    padding: 15px 15px 50px 15px;
  }
  .about p {
    font-size: 1.2em;
  }
  .about footer {
    left: 0;
  }
}
.icon-up:before {
  content: '\e800';
}

.icon-star:before {
  content: '\e801';
}

.icon-location:before {
  content: '\e802';
}

.icon-fax:before {
  content: '\e803';
}

.icon-phone:before {
  content: '\e804';
}

.icon-mail:before {
  content: '\e805';
}

.icon-star-empty:before {
  content: '\e806';
}

.icon-home:before {
  content: '\e807';
}

.icon-quote-left:before {
  content: '\e808';
}

.icon-quote-right:before {
  content: '\e809';
}

.icon-info:before {
  content: '\e80a';
}

.icon-ok:before {
  content: '\e80b';
}

.icon-circle-empty:before {
  content: '\e80c';
}

.icon-circle:before {
  content: '\e80d';
}
