body {
  color: #aaaaaa;
}

header {
  height: 130px;
}
header .container {
  position: relative;
  top: 28px;
}
header .navbar {
  position: absolute;
  top: 20px;
  right: 0;
}
header .navbar-brand {
  height: 100px;
  width: 20%;
  background: url("../images/color-logo.png") no-repeat;
  background-size: 85%;
}
header p.header-p {
  font: 16px "Imprima", Helvetica, Arial, sans-serif;
  position: absolute;
  bottom: 22px;
  left: 210px;
  opacity: 0.6;
}
header a.navbar-brand {
  color: #aaaaaa;
}
header a.navbar-brand:hover {
  opacity: 0.8;
}
header a {
  color: #aaaaaa;
  font-size: 1.3em;
}
header .navbar-nav > li > a:hover {
  opacity: 1;
  color: #056495;
  background-color: transparent;
}

.slider {
  padding: 30px;
  background-color: whitesmoke;
}

.image img {
  margin: auto;
  width: 80%;
}

.site-footer {
  color: #9E9E9E;
  text-align: center;
  margin: 50px 0 0 0;
}

@media (max-width: 768px) {
  header {
    height: 115px;
  }
  header .container {
    top: 0;
  }
  header .navbar {
    position: relative;
  }
  header .navbar-toggle {
    border: 1px solid #FFF;
  }
  header .navbar-toggle .icon-bar {
    background-color: #FFF;
  }
  header p.header-p {
    top: 67px;
  }
}
.about {
  background-color: #FFF;
  padding: 20px 0;
}
.about .about-content {
  padding-left: 100px;
}
.about .col-sm-6 {
  background-color: whitesmoke;
}
.about img {
  width: 100%;
  opacity: 0.85;
}
.about p {
  color: #333332;
}

.pg-404 {
  color: #237dac;
  font: 16px "Imprima", Helvetica, Arial, sans-serif;
}
.pg-404 h1 {
  font-size: 4em;
}
.pg-404 a {
  font-size: 3em;
}
