.products-nav {
  margin: 10px 30px;
}
.products-nav p {
  display: inline;
}
.products-nav a {
  color: #16a6b6;
  text-decoration: none;
}

.sidebar {
  width: 130px;
  float: left;
}
.sidebar .nav > li > a {
  color: #aaaaaa;
  padding: 6px 12px;
}
.sidebar .nav > li > a:hover {
  color: #7A7A7A;
}

.contents {
  width: 80%;
  float: right;
}

.products {
  margin-top: 20px;
}

.items {
  position: relative;
  width: 280px;
  height: 188px;
  max-width: 280px;
  height: auto;
  float: left;
  margin: 10px;
}
.items img {
  width: 280px;
  height: 188px;
  max-width: 280px;
}

.items {
  background-color: #E4E4E4;
}
.items h4 {
  position: absolute;
  padding: 10px 15px;
  color: #333;
  font-family: 'Arial';
}
.items h4 span {
  font-weight: bold;
  display: block;
}
.items h4 span.model {
  font-size: 0.8em;
  font-weight: normal;
}

.items:hover {
  background-color: #009ee0;
}

.right .github-fork-ribbon a {
  width: 170px;
}

.github-fork-ribbon-wrapper.right .github-fork-ribbon {
  top: 30px;
}

.github-fork-ribbon-wrapper.right .github-fork-ribbon\0 {
  top: -25px;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #FFF;
}

.sticky {
  position: fixed;
  top: 0;
  border-top: 0;
}

.item {
  margin-left: 75px;
}
.item img {
  margin: 0 auto;
  height: 500px;
  width: 500px;
}
.item p {
  color: #181818;
  font-weight: bold;
}
.item .p1 {
  font-size: 1.4em;
}
.item .detail-info i.icon-circle-empty {
  font-size: 0.8em;
}
.item .detail-info li {
  list-style-type: none;
  font-size: 1.5em;
}

.to-top {
  display: none;
  font-size: 3em;
  position: fixed;
  cursor: pointer;
  right: 30px;
  bottom: 30px;
}

@media only screen and (max-width: 991px) {
  .items {
    width: 268px;
  }
  .items img {
    width: 268px;
  }
}
@media only screen and (max-width: 767px) {
  div.products.container {
    padding-left: 0;
  }

  .sidebar {
    display: none;
  }

  .item {
    margin-left: 0;
  }

  .items {
    width: 240px;
  }
  .items img {
    width: 240px;
  }
}
