.sidebar {
  width: 165px;
}
.sidebar .nav > li > a {
  color: #aaaaaa;
}
.sidebar .nav > li > a:hover {
  color: #eee;
}

.products {
  margin-top: 20px;
}

.items {
  float: left;
  margin: 10px;
}
.items img {
  width: 280px;
}
.items img:hover {
  opacity: 0.8;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #FFF;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 100;
  border-top: 0;
}
