.products-nav {
  margin: 10px 30px;
}
.products-nav p {
  display: inline;
}
.products-nav a {
  color: #16a6b6;
  text-decoration: none;
}

.sidebar {
  width: 165px;
}
.sidebar .nav > li > a {
  color: #aaaaaa;
}
.sidebar .nav > li > a:hover {
  color: #7A7A7A;
}

.products {
  margin-top: 20px;
}

.items {
  width: 280px;
  float: left;
  margin: 10px;
}
.items img {
  width: auto;
  max-width: 280px;
}
.items img:hover {
  opacity: 0.8;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #FFF;
}

.sticky {
  position: fixed;
  top: 0;
  border-top: 0;
}

.item {
  margin-left: 75px;
}
.item img {
  height: 500px;
  width: 500px;
}
.item p {
  color: #181818;
  font-weight: bold;
}
.item .p1 {
  font-size: 1.4em;
}
.item .detail-info li {
  list-style-type: none;
  font-size: 1.5em;
}

.to-top {
  font-size: 3em;
  position: fixed;
  cursor: pointer;
  right: 30px;
  bottom: 30px;
}
