---
layout: default
extra_css:
    - /stylesheets/products.css
---

<div class="products container">
    <div class="col-sm-3 sidebar">
        <ul class="nav nav-stacked">
            <li><a href="#">Item 1</a></li>
            <li><a href="#">Item 2</a></li>
            <li><a href="#">Item 3</a></li>
            <li><a href="#">Item 4</a></li>
            <li><a href="#">Item 5</a></li>
            <li><a href="#">Item 6</a></li>
            <li><a href="#">Item 7</a></li>
            <li><a href="#">Item 8</a></li>
            <li><a href="#">Item 9</a></li>
        </ul>
    </div>

    <div class="col-sm-10">
      {{ content }}
    </div>

</div>
