---
layout: default
extra_css:
    - /stylesheets/products.css
extra_js:
images:
  - 1.jpg
  - 2.jpg
  - 3.jpg
  - 4.jpg
  - 5.jpg
  - 6.jpg
  - 7.jpg
  - 8.jpg
---
<div class="products container">
    <div class="col-sm-3 sidebar">
        <ul class="nav nav-stacked">
            <li><a href="/products/item1.html">JC exclusive</a></li>
            <li><a href="#">Plastic ball pen</a></li>
            <li><a href="/products/item2">Semi-metal pen</a></li>
            <li><a href="/products/item3">Eco pen</a></li>
            <li><a href="/products/item4">Stylus pen</a></li>
            <li><a href="/products/item5">Muti-color pen</a></li>
            <li><a href="#">Erasable pen</a></li>
            <li><a href="#">Cartoon pen</a></li>
            <li><a href="#">Novelty pen</a></li>
        </ul>
    </div>

    <div class="contents col-sm-10">
        {{ content }}
    </div>

</div>
