---
layout: default
extra_css:
    - /stylesheets/products.css
csss:
    <!-- START COPYING HERE -->
    <link rel="stylesheet" href="/css/gh-fork-ribbon.css">
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="/css/gh-fork-ribbon.ie.css">
    <![endif]-->
    <!-- END COPYING HERE -->
extra_js:
    - /javascripts/products.js
---
<div class="products container">
    <div class="products-nav">
        <a href="/"><i class="icon-home"></i></a> <p>></p> <a href="/products">Products</a> {% if page.nav %} <p>></p> {{ page.nav }} {% endif %}
    </div>

    <div class="sidebar">
        <ul class="nav nav-stacked">
            <li><a href="/products/jc-exclusive">JC exclusive</a></li>
            <li><a href="/products/plastic-ball-pen">Plastic ball pen</a></li>
            <li><a href="/products/semi-metal-pen">Semi-metal pen</a></li>
            <li><a href="/products/eco-pen">Eco pen</a></li>
            <li><a href="/products/stylus-pen">Stylus pen</a></li>
            <li><a href="/products/muti-color-pen">Muti-color pen</a></li>
            <li><a href="/products/erasable-pen">Erasable pen</a></li>
            <li><a href="/products/cartoon-pen">Cartoon pen</a></li>
            <li><a href="/products/novelty-pen">Novelty pen</a></li>
            <li><a href="/products/gel-pen">Gel pen</a></li>
        </ul>
    </div>
      <div class="contents">
          {{ content }}
      </div>
</div>
<div class="to-top">
    <i class="icon-up"></i> 
</div>
