---
layout: products
title: Mutifunctional pen
nav:
    <a href="/products/mutifunctional-pen/">Mutifunctional Pen</a>
---

{% for img in site.data.products.products.mutifunctional-pen %}
    <div class="items">
        <h4>
            <span>{{img.name}}</span>
            <span class="model">{{img.model}}</span>
        </h4>
        {% if img.new %}
        <div class="github-fork-ribbon-wrapper right">
            <div class="github-fork-ribbon">
                <a href="/products/mutifunctional-pen/{{ img.file }}.html">NEW</a>
            </div>
        </div>
        {% endif %}
        <a href="/products/mutifunctional-pen/{{ img.file }}.html">
            <img src="/images/products/{{ img.file }}.png">
        </a>
    </div>
{% endfor %}

